<p>This page is a placeholder for this Web Api Backend.  It extract data from a live SQL database from Microsoft SQL Server.</p><br />
<p>Then Services use Entity Framework to provide this data to RESTFul API controllers.  The controllers send JSON data to the front-end</p><br/>
<p> Front end uses AJAX calls to receive the data.  This MVC based site provides the data to the React.JS/DevExtreme/GOJS Data Visualization objects.</p>
