<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Visualization of Architecture Relationships</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <common-model-diagram
      [selectedRow] = "selectedRow"
    ></common-model-diagram>
  </div> 
</ng-template>


<button class="btn btn-primary modal-popup-button" (click)="openModal(content)"> Show Diagram (.NET) </button>
